.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input, select {
  width: 300px;
  height: 20px;
  font-size: 15px;
  padding-left: 10px;
  margin-bottom: 15px;
}

Button {
	background-color:#7892c2;
	border-radius:28px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:20px 45px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}


table, th, td{
  border: 1px solid black;
}

table {
  margin-top: 20px;
  width: 800px;
  border-collapse: collapse;
}


